@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    
}
header{
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
}
header .logo{
    width: 50%;
}
header .logo img{
    width: 140px;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s ease;
}
header .menu ul li a:hover{
    color:#156fc3;
}
header .menu ul li a.resume{
    background-color: #064283;
    padding: 6px 12px;
    border-radius: 6px;
}
header .menu ul li a.resume:hover{
    background-color: #075bb4;
    color: #fff;
}

/*===== Main Home =====*/

#home .container{
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
}
#home .container .icons{
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
    color: #fff;
}
#home .container .icons ion-icon{
    padding: 30px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
#home .container .icons ion-icon:hover{
    color: #156fc3;
}
#home .container .title{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 0 60px;
}
#home .container .title h1{
    font-size: 4.7rem;
    letter-spacing: 3px;
    display: block;
    color: #fff;
    position: relative;
}
#home .container .title h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1rem;
    position: absolute;
    margin-top: -1.8rem;
    left: -1.8rem;
}
#home .container .title h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1rem;
    position: absolute;
    margin-top: 5rem;
    left: -1.8rem;
}
#home .container .title p{
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #8d8d8d;
    position: relative;
}
#home .container .title p:before{
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 1.8rem;
    left: -1.8rem;
}
#home .container .title p:after{
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: -1.8rem;
    left: -1.8rem;
}

/*===== About =====*/

#about .container{
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    background-size: cover;
    display: flex;
    justify-content: space-between;     
}
#about .container .my-self{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 60px;
}
#about .container .my-self .text-zone{
    width: 100%;
}
#about .container .my-self .text-zone h1{
    width: 80%;
    color: #156fc3;
    font-size: 3rem;
    text-align: left;
    position: relative;
    letter-spacing: 3px;
    display: block;
}
#about .container .my-self .text-zone h1:before{
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1rem;
    position: absolute;
    margin-top: -1.8rem;
    left: -1.8rem;
}
#about .container .my-self .text-zone h1:after{
    content: '<h2/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1rem;
    position: absolute;
    margin-top: 3.5rem;
    left: -1.8rem;
}
#about .container .my-self .text-zone p{
    color: #fff;
    width: 90%;
    font-size: 1rem;
    margin-top: 54px;
    letter-spacing: 4px;
    line-height: 24px;
    display: block;
    position: relative;
}
#about .container .my-self .text-zone p:before{
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: -1.8rem;
    left: -1.8rem;
}
#about .container .my-self .text-zone p:after{
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 1.8rem;
    left: -1.8rem;
}
#about .container .my-self .text-zone a{
    text-decoration: none;
    color: #156fc3;
    transition: 0.5s ease;
}
#about .container .my-self .text-zone a:hover{
    color: #074d97;
}
#about .container .my-self .box-title{
    width: 100%;
    height: 44vh;
    margin-top: 66px;
    position: relative;
}
#about .container .my-self .box-title span{
    color: #fff;
}
#about .container .my-self .box-title .b1{
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 44px;
    border-radius: 5px;
}
#about .container .my-self .box-title .b2{
    width: 65%;
    height: 2px;
    background: #dc2fe2;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 200px 0 rgba(21,111,195,0.5);
}
#about .container .my-self .box-title .b3{
    width: 20%;
    height: 2px;
    background: #08fdd8;
    margin-top: 5px;
    border-radius: 5px;
}
#about .container .my-self .box-title .b4{
    width: 25%;
    height: 2px;
    background: #f8e913;
    margin-top: 5px;
    border-radius: 5px;
}
#about .container .my-self .box-title .b5{
    width: 50%;
    height: 2px;
    background: #ff2253;
    margin-top: 5px;
    border-radius: 5px;
}

#about .container .my-self .box-title .b6{
    width: 20%;
    height: 2px;
    background: #49bbe9;
    margin-top: 5px;
    border-radius: 5px;
}
#about .container .my-self .box-title .b7{
    width: 10%;
    height: 4px;
    background: #2622ff;
    margin-top: 5px;
    border-radius: 5px;
}